body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: beige;
}

header {
    background-color: rgb(181,181,181);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.profile {
    text-align: center;
    border: 5px solid rgba(0, 0, 0, 0.622);
    border-radius: 15px;
    background-color: beige;
    transition: 0.5s;
}
.profile:hover{
    background-color: rgba(93, 93, 93, 0.479);
}

.profile img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.622);
    object-fit: cover;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    top: -50px;
    transition: 0.5s;
}
.profile img:hover{
    filter: brightness(60%);
}

.profile h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.profile p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.profile a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}
